# SQLite3 Connection

In [2]:
import sqlite3
con = sqlite3.connect('CSCI4333.db')
cur = con.cursor()

# Create Sailor Table

In [3]:
statement = '''
            CREATE TABLE Sailor (
                          sid text, 
                          sname text, 
                          gender text, 
                          primary key (sid)
                          );
            '''
cur.execute(statement)

cur.execute("INSERT INTO Sailor VALUES ('101','A','M')")
cur.execute("INSERT INTO Sailor VALUES ('102','B','M')")

# How to Check Result

In [4]:
statement = '''
            SELECT * FROM Sailor
            '''

res = cur.execute(statement)

print('--------------------')
n = [x[0] for x in res.description]
print(n)
print('--------------------')
for row in res : print(row)

--------------------
['sid', 'sname', 'gender']
--------------------
('101', 'A', 'M')
('102', 'B', 'M')

# Create Boat Table

In [5]:
statement = '''CREATE TABLE Boat (
                    bid text, 
                    bname text, 
                    color text, 
                    primary key (bid)
                    );
            '''
cur.execute(statement)

cur.execute("INSERT INTO Boat VALUES ('201','A','red')")

# Create Reserve Table

In [6]:
statement='''CREATE TABLE Reserve (
              sid text, 
              bid text, 
              primary key (sid,bid), 
              FOREIGN KEY(sid) REFERENCES Sailor(sid), 
              FOREIGN KEY(bid) REFERENCES Boat(bid));
          '''

cur.execute(statement)
cur.execute("INSERT INTO Reserve VALUES ('101','202')")

con.commit()

In [7]:
cur.execute("INSERT INTO Reserve VALUES ('106','203')")

In [8]:
statement = '''
            SELECT * FROM Reserve
            '''

res = cur.execute(statement)

print('--------------------')
n = [x[0] for x in res.description]
print(n)
print('--------------------')
for row in res : print(row)

--------------------
['sid', 'bid']
--------------------
('101', '202')
('106', '203')